
/* ======= Base ======= */

body {
  margin: 0px;
  padding: 0px;
}

p {

}

header {
  margin: 40px auto 30px auto;
  text-align: center;
}

footer{

}


/* ======= Layout ======= */

.todoTable__title {
  margin-top: 40px;

}

/* ======= Module ======= */

.title {

}

/* ======= State ======= */


/* ======= Theme ======= */




